EsercizioIncidenti/incidenti_2016.csv
EsercizioIncidenti/Incidenti.csv
EsercizioIncidenti/incidenti_2016.zip
EsercizioLLM/turista_per_sempre.xlsx
EsercizioPS/ps.xlsx
EsercizioLLM/local_file_name.json
EsercizioTinder/tinder.csv
EsercizioVoto/data.xlsx
EsercizioWorld/WorldData_CLEAN 1.csv
